.home {
  height: 90vh;
  padding: 1vh;
  display: grid;
  gap: 1vh;
  grid-template-areas:
    "men men men men men sports sports women women"
    "sunglasses sunglasses coupons coupons  backpack backpack backpack backpack backpack";
}

.department {
  background-size: cover;
  background-repeat: no-repeat;
}

.department.men {
  background-image: url("../assets/images/mens.jpg");
  grid-area: men;
}

.department.sports {
  background-image: url("../assets/images/sports.jpg");
  grid-area: sports;
}

.department.women {
  background-image: url("../assets/images/woman.jpg");
  grid-area: women;
}
.department.sunglasses {
  background-image: url("../assets/images/sunglasses.jpg");
  grid-area: sunglasses;
}
.department.coupons {
  background-image: url("../assets/images/coupons.jpg");
  grid-area: coupons;
}
.department.backpack {
  background-image: url("../assets/images/backpack.jpg");
  grid-area: backpack;
}
