.nav {
  font-size: 2rem;
}

.nav-link {
  color: var(--link);
  text-decoration: none;
  margin: 0 1rem;
}

.cart {
  background-image: url("../assets/images/cart.png");
  background-position-x: 0;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  display: inline-block;
  padding-left: 3rem;
}
