/* Colors */

:root {
  --price: #ff6384;
  --hover: #eadede;
  --link: #eadede;
  --nav-color: #0399d8;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
